header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.container {
  margin: 20px;

  .search-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-line {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      flex-wrap: wrap;
      margin-bottom: 10px;

      > .mat-form-field, > .button {
        margin-right: 20px;
      }
    }
  }

  .recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.chip-list {
  max-width: 600px;
  min-width: 300px;
  padding: 0;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}


@media only screen and (max-width: 600px) {
  app-recipe {
    width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  .chip-list {
    width: 600px;
  }
}
